    <section class="suite">
      <h1>when a user wants to add a skill</h1>
      <dl>
        <section class="suite">
          <h1>and the description does not already exist</h1>
          <dl>
            <dt>should save the unique skill description in lowercase</dt>
            <dd><pre><code>repo.skillDescriptions.findOne(expected, function(err, description){
    expect(description).to.exist;
    done();
})</code></pre></dd>
            <dt>should announce that a skill was added</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and the description already exists</h1>
          <dl>
            <dt>should not add the description again </dt>
            <dd><pre><code>repo.skillDescriptions.count(existing, function(err, count){
    count.should.equal(1);
    done();
})</code></pre></dd>
            <dt>should not announce that a skill was added</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
            <dt>should return error</dt>
            <dd><pre><code>actualErr.message.should.equal(expected);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.add({userId: 'xxx'}, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>with an empty description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.add(setup.create.skill.args.add('  '), function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.add({description: setup.create.random()}, function(err){
    expect(err).to.exist.with;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a user cancels a skill request</h1>
      <dl>
        <section class="suite">
          <h1>but has never requested the skill</h1>
          <dl>
            <dt>should not announce the skill request has been cancelled</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has requested the skill</h1>
          <dl>
            <dt>should remove the skill request</dt>
            <dd><pre><code>repo.skillRequests.count(args, function(err, count){
    count.should.equal(0);
    done();
});</code></pre></dd>
            <dt>should announce the skill request has been cancelled</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a skill id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.cancelRequest({userId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.cancelRequest({skillId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a user wants to delete a skill</h1>
      <dl>
        <section class="suite">
          <h1>and the skill exists</h1>
          <dl>
            <dt>should remove the associated skill description</dt>
            <dd><pre><code>repo.skillDescriptions.findOne({description: existing.description}, function(err, description){
    expect(description).to.not.exist;
    done();
})</code></pre></dd>
            <dt>should announce that a skill was deleted</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and the skill does not exist</h1>
          <dl>
            <dt>should not announce that a skill was deleted</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.delete({userId: setup.create.random()}, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without an empty description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.delete({userId: setup.create.random(), description: '   '}, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.delete({description: setup.create.random()}, function(err){
    expect(err).to.exist.with;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a user gets a skill request from a client</h1>
      <dl>
        <section class="suite">
          <h1>and has never requested the skill</h1>
          <dl>
            <dt>should save the skill request</dt>
            <dd><pre><code>repo.skillRequests.findOne(args, function(err, request){
    expect(request).to.exist;
    done();
})</code></pre></dd>
            <dt>should announce that the skill was requested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and has already requested the skill</h1>
          <dl>
            <dt>should not save the same skill request</dt>
            <dd><pre><code>repo.skillRequests.count(args, function(err, count){
    count.should.equal(1);
    done();
});</code></pre></dd>
            <dt>could be for another client, should still announce that the skill was requested</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a skill id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.request({userId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a user id</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.request({skillId: 'xxx'}, function(err){
    expect(err).to.exist;
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
    <section class="suite">
      <h1>when a skill is added</h1>
      <dl>
        <dt>should create a read model with a sanitized description and a count of zero</dt>
        <dd><pre><code>repo.skills.findOne({description: description.sanitized}, function(err, found){
    expect(found).to.exist;
    found.count.should.equal(0);
    done();
});</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a skill is deleted</h1>
      <dl>
        <dt>should remove the associated read model</dt>
        <dd><pre><code>repo.skills.findOne({description: description.sanitized}, function(err, found){
    expect(found).to.not.exist;
    done();
});</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a skill description is updated</h1>
      <dl>
        <dt>should have a read model with the updated sanitized description</dt>
        <dd><pre><code>repo.skills.findOne({description: newDescription.sanitized}, function(err, found){
    expect(found).to.exist;
    done();
});</code></pre></dd>
        <dt>should no longer have a read model with the old sanitized description</dt>
        <dd><pre><code>repo.skills.findOne({description: oldDescription.sanitized}, function(err, found){
    expect(found).to.not.exist;
    done();
});</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a skill request is cancelled</h1>
      <dl>
        <dt>the count should be decremented </dt>
        <dd><pre><code>repo.skills.findById(skill.id, function(err, skill){
    skill.count.should.equal(0);
    done();
});</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a skill is requested</h1>
      <dl>
        <dt>the count should be incremented </dt>
        <dd><pre><code>repo.skills.findById(skill.id, function(err, skill){
    skill.count.should.equal(1);
    done();
});</code></pre></dd>
      </dl>
    </section>
    <section class="suite">
      <h1>when a user wants to update a skill description</h1>
      <dl>
        <section class="suite">
          <h1>and the description does not already exist</h1>
          <dl>
            <dt>should save the unique skill description in lowercase</dt>
            <dd><pre><code>repo.skillDescriptions.findOne(expected, function(err, description){
    expect(description).to.exist;
    done();
})</code></pre></dd>
            <dt>should announce that a skill description was updated</dt>
            <dd><pre><code>announced.should.be.true;</code></pre></dd>
            <dt>should remove the old description</dt>
            <dd><pre><code>repo.skillDescriptions.findOne(setup.create.skill.description(args.oldDescription), function(err, description){
    expect(description).to.not.exist;
    done();
})</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>and the description already exists</h1>
          <dl>
            <dt>should not add the description again </dt>
            <dd><pre><code>repo.skillDescriptions.count(existing, function(err, count){
    count.should.equal(1);
    done();
})</code></pre></dd>
            <dt>should not announce that a skill description was updated</dt>
            <dd><pre><code>announced.should.be.false;</code></pre></dd>
            <dt>should return error</dt>
            <dd><pre><code>actualErr.message.should.equal(expected);</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without an old description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.updateDescription(setup.create.skill.args.updateDescription().withoutOldDescription().literal, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>with an empty old description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.updateDescription(setup.create.skill.args.updateDescription().from('   ').literal, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a new description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.updateDescription(setup.create.skill.args.updateDescription().withoutNewDescription().literal, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>with an empty new description</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.updateDescription(setup.create.skill.args.updateDescription().to('   ').literal, function(err){
    expect(err).to.exist;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
        <section class="suite">
          <h1>without a user</h1>
          <dl>
            <dt>should indicate the arguments are invalid</dt>
            <dd><pre><code>sut.updateDescription(setup.create.skill.args.updateDescription().withoutUser().literal, function(err){
    expect(err).to.exist.with;
    err.message.should.contain('Invalid args');
    done();
});</code></pre></dd>
          </dl>
        </section>
      </dl>
    </section>
